<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="google-site-verification" content="-K5c0RuTRuA8pDNIgSegb9q0ZfNqG1yPnxEnVxPOV2g" />
  <meta name="description" content="Personal blog by Christoph Pahmeyer">
  <title>Christoph Pahmeyer</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="/assets/Inter/inter.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="all" href="/assets/main.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Christoph Pahmeyer" href="/atom.xml">
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="/">Christoph Pahmeyer</a>
    </div>
    <ul class="navigation">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About me</a></li>
    </ul>
  </header>
  <main class="content">
    <!--* content goes here *-->
  </main>
  <footer class="header">
    <div class="">
      
    </div>
    <ul class="navigation">
      <li><a href="/impressum/">About this Website</a></li>
    </ul>
  </footer>
</body>

</html>