<div class="projects">
  <h1>Projects</h1>
  
  <h2>Research</h2>
  <a href="https://chrispahm.github.io/SustainBeef/" target="_blank" title="Preview of the SustainBeef results charts for the Farm FR.Lor-BF">
    <img src="/assets/sustainbeef.png" alt="Preview of the SustainBeef results charts for the Farm FR.Lor-BF">
  </a>
  <ul class="minimal">
    <li>
      <a class="link" href="https://chrispahm.github.io/SustainBeef/">SustainBeef</a>
      <p> — An Interactive map highlighting the current state of beef farming systems in Europe</p>
    </li>
    <li>
      <a class="link" href="https://www.ilr.uni-bonn.de/em/rsrch/farmdyn/FarmDynDoku/">FarmDyn</a>
      <p> — A highly detailed single farm model designed for policy evaluation</p>
    </li>
    <li>
      <a class="link" href="http://www.phenorob.de/cp-6-technology-adoption-and-impact/">PhenoRob</a>
      <p> — Robotics and Phenotyping for Sustainable Crop Production - Technology adoption and impact</p>
    </li>
  </ul>
  <h2>Fruchtfolge</h2>
  <p>A simple to use decision support tool for farmers. Free and Open Source. Build with GAMS + Nuxt.js + Node.js (Expres.js).</p>
  <a href="https://chrispahm.github.io/SustainBeef/" target="_blank" title="An Interactive map highlighting the current state of beef farming systems in Europe">
    <img src="/assets/fruchtfolge.gif" alt="Screenshots from the Fruchtfolge application">
  </a>
  <ul class="minimal">
    <li>
      <a class="link" href="https://fruchtfolge.agp.uni-bonn.de/">Fruchtfolge</a>
      <p> — The actual Fruchtfolge application hosted at the University Bonn. Localised in German</p>
    </li>
    <li>
      <a class="link" href="https://github.com/fruchtfolge/documentation">Documentation</a>
      <p> — Tutorial on how to use Fruchtfolge, with supporting screenshots and videos</p>
    </li>
    <li>
      <a class="link" href="https://github.com/fruchtfolge/client">Client side code</a>
      <p> — The Nuxt.js application powering the Fruchtfolge frontend</p>
    </li>
    <li>
      <a class="link" href="https://github.com/fruchtfolge/model">Bio-Economic model</a>
      <p> — The GAMS model providing the cropping recommendations in Fruchtfolge</p>
    </li>
    <li>
      <a class="link" href="https://github.com/fruchtfolge/harmonie">Harmonie</a>
      <p> — Harmonization of direct payment application files of all federal states in Germany, used for data input</p>
    </li>
    <li>
      <a class="link" href="https://github.com/fruchtfolge/ktbl-apis">KTBL-APIs</a>
      <p> — Node.js APIs for the calculated data of the KTBL Database. Provides access to field work procedures, crop gross margins, and standard gross margins</p>
    </li>
    <li>
      <a class="link" href="https://github.com/fruchtfolge/ktbl-apis">BGR-APIs</a>
      <p> — Node.js APIs for querying soil properties from the "Bundesanstalt für Geowissenschaften und Rohstoffe" (BGR) servers</p>
    </li>
  </ul>
  <h2>Linter-GAMS</h2>
  <p>A <a href="#">GAMS</a> IDE plugin for the<a href="https://atom.io/">Atom</a> editor. 
    A simple to use decision support tool for farmers. Free and Open Source. Build with GAMS + Nuxt.js + Node.js (Expres.js).</p>
</div>